---
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  href: string;
  isTargetBlank?: boolean;
}

const { href, ...props } = Astro.props;

const classes = ["inline-block", props.class];
---

<a
  href={href}
  target={props.isTargetBlank ? "_blank" : "_self"}
  class:list={classes}
>
  <slot />
</a>
